name: build base php image

on: [push]


env:
  PHP8_VERSION: 8.1.11
  CADDY_VERSION: 2.6.1

jobs:

  build_and_push_to_registry:

    runs-on: ubuntu-latest

    env:
      COMPOSER: COMPOSER_MEMORY_LIMIT=-1 composer
      IMAGE_NAME_CADDY: caddy-ext:${{env.CADDY_VERSION}}
      IMAGE_NAME_BENCODE: php-ext-bencode:${{env.PHP8_VERSION}}-fpm-bullseye
      IMAGE_NAME_PHP8: phpfpm-caddy:${{env.PHP8_VERSION}}

    steps:
    - uses: actions/checkout@v3
    
    - name: Log in to Docker Hub
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - run: docker build ./base-image/php --file ./base-image/php/caddy2.Dockerfile --tag ${{env.IMAGE_NAME_CADDY}}
    - run: docker tag ${{ env.IMAGE_NAME_CADDY }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}
    # - run: docker build ./base-image/php --file ./base-image/php/bencode.Dockerfile --tag ${IMAGE_NAME_BENCODE}
    # - run: docker build ./base-image/php --file ./base-image/php/php8.Dockerfile --tag ${IMAGE_NAME_PHP8}
