name: build images
on: [push]

jobs:

  build-base-php-image:

    runs-on: ubuntu-latest

    env:
      PHP8_VERSION: 8.1.17
      CADDY_VERSION: 2.6.2
      IMAGE_NAME_CADDY: caddy-ext:2.6.2
      COMPOSER: COMPOSER_MEMORY_LIMIT=-1 composer
      PHP_VER_TAG: 8.1.17-fpm-bullseye
      PHP_EXT_BENCODE_VERSION: 8.1.17-fpm-bullseye
      IMAGE_NAME_BENCODE: php-ext-bencode:8.1.17-fpm-bullseye
      IMAGE_NAME_PHP8: phpfpm-caddy:8.1.17
      IMAGE_NAME_PHP8_LATEST: phpfpm-caddy:latest
      IMAGE_NAME_PHP8_SHA: phpfpm-caddy:8.1.17-${{ github.sha }}
      TINI_VERSION: v0.19.0

    steps:
    - run: export
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug

    - name: Log in to Docker Hub
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push Docker image - ${{ env.IMAGE_NAME_CADDY }}
      uses: docker/build-push-action@v4
      with:
        context: ./base-image/php
        file: ./base-image/php/caddy2.Dockerfile
        tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}
        build-args: |
          CADDY_VERSION=${{ env.CADDY_VERSION }}
        load: true
        cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}-buildcache,mode=max
        cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}-buildcache

    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}
    - run: docker tag ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }} ${{ env.IMAGE_NAME_CADDY }}

    - name: Build and push Docker image - ${{ env.IMAGE_NAME_BENCODE }}
      uses: docker/build-push-action@v4
      with:
        context: ./base-image/php
        file: ./base-image/php/bencode.Dockerfile
        tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_BENCODE }}
        build-args: |
          PHP_VER_TAG=${{ env.PHP_VER_TAG }}
        load: true
        cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_BENCODE }}-buildcache,mode=max
        cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_BENCODE }}-buildcache
    
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_BENCODE }}
    - run: docker tag ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_BENCODE }} ${{ env.IMAGE_NAME_BENCODE }}
    
    - run: docker images

    - run: sed -i "s/<PHP_EXT_BENCODE_IMAGE>/${{ secrets.DOCKER_USERNAME }}\/${{ env.IMAGE_NAME_BENCODE }}/g" ./base-image/php/php8.Dockerfile
    - run: sed -i "s/<CADDY_EXT_IMAGE>/${{ secrets.DOCKER_USERNAME }}\/${{ env.IMAGE_NAME_CADDY }}/g" ./base-image/php/php8.Dockerfile
    - run: sed -i "s/\${PHP_VER_TAG}/${{ env.PHP_VER_TAG }}/g" ./base-image/php/php8.Dockerfile

    - run: cat ./base-image/php/php8.Dockerfile

    - name: Build and push Docker image - ${{ env.IMAGE_NAME_PHP8 }}
      uses: docker/build-push-action@v4
      with:
        context: ./base-image/php
        file: ./base-image/php/php8.Dockerfile
        tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }}
        build-args: |
          PHP_VER_TAG=${{ env.PHP_VER_TAG }}
          PHP_EXT_BENCODE_VERSION=${{ env.PHP_EXT_BENCODE_VERSION }}
          CADDY_VERSION=${{ env.CADDY_VERSION }}
          TINI_VERSION=${{ env.TINI_VERSION }}
        load: true
        cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }}-buildcache,mode=max
        cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }}-buildcache
    
    - run: docker tag ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8_SHA }}
    - run: docker tag ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8_LATEST }}

    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8_SHA }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8_LATEST }}

  build-mediawiki:
    runs-on: ubuntu-latest

    env:
      MEDIAWIKI_MAJOR_VERSION: 1.39
      MEDIAWIKI_VERSION: 1.39.0
      IMAGE_NAME_PHP8_LATEST: phpfpm-caddy:latest
      IMAGE_NAME_MEDIAWIKI: mediawiki:1.39.0
      IMAGE_NAME_MEDIAWIKI_LATEST: mediawiki:latest
      IMAGE_NAME_MEDIAWIKI_SHA: mediawiki:1.39.0-${{ github.sha }}

    steps:
    - run: export
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug

    - name: Log in to Docker Hub
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - run: sed -i "s/<DOCKER_USERNAME>/${{ secrets.DOCKER_USERNAME }}/g" ./mediawiki/Dockerfile

    - name: Build and push Docker image - ${{ env.IMAGE_NAME_MEDIAWIKI }}
      uses: docker/build-push-action@v4
      with:
        context: ./mediawiki
        file: ./mediawiki/Dockerfile
        tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI }}
        load: true
        cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI }}-buildcache,mode=max
        cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI }}-buildcache
    
    - run: docker tag ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI_SHA }}
    - run: docker tag ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI_LATEST }}

    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI_SHA }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_MEDIAWIKI_LATEST }}
