name: build base php image
on: [push]

jobs:

  build_and_push_to_registry:

    runs-on: ubuntu-latest

    env:
      PHP8_VERSION: 8.1.11
      CADDY_VERSION: 2.6.1
      COMPOSER: COMPOSER_MEMORY_LIMIT=-1 composer
      PHP_VER_TAG: 8.1.11-fpm-bullseye
      PHP_EXT_BENCODE_VERSION: 8.1.11-fpm-bullseye
      IMAGE_NAME_CADDY: caddy-ext:2.6.1
      IMAGE_NAME_BENCODE: php-ext-bencode:8.1.11-fpm-bullseye
      IMAGE_NAME_PHP8: phpfpm-caddy:8.1.11

    steps:
    - uses: actions/checkout@v3
    
    - name: Log in to Docker Hub
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - run: export
    - run: docker build ./base-image/php --file ./base-image/php/caddy2.Dockerfile --tag ${{ env.IMAGE_NAME_CADDY }} --build-arg CADDY_VERSION=${{ env.CADDY_VERSION }}
    - run: docker tag ${{ env.IMAGE_NAME_CADDY }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_CADDY }}

    - run: docker build ./base-image/php --file ./base-image/php/bencode.Dockerfile --tag ${IMAGE_NAME_BENCODE} --build-arg PHP_VER_TAG=${{ env.PHP_VER_TAG }}
    - run: docker tag ${{ env.IMAGE_NAME_BENCODE }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_BENCODE }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_BENCODE }}

    - run: docker build ./base-image/php --file ./base-image/php/php8.Dockerfile --tag ${IMAGE_NAME_PHP8} --build-arg PHP_VER_TAG=${{ env.PHP_VER_TAG }} --build-arg PHP_EXT_BENCODE_VERSION=${{ env.PHP_EXT_BENCODE_VERSION }} --build-arg CADDY_VERSION=${{ env.CADDY_VERSION }}
    - run: docker tag ${{ env.IMAGE_NAME_PHP8 }} ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }}
    - run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_PHP8 }}
